@using System.Linq
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Strings

@model XPenC.WebApp.Models.ExpenseReports.ExpenseReportDetails

<div class="report">
    <section class="logo d-flex justify-content-between align-items-start">
        <div><img height="60" src="/img/logo_small.png" /></div>
        <div><span>@($"{DateTime.Now:D}")</span></div>
    </section>
    <section class="top">
        <h1>@Strings["Expense Report"]&nbsp;@Model.Id</h1>
        <hr />
    </section>
    <section>
        <div class="row">
            <div class="col-2 label">
                @Html.DisplayNameFor(model => model.Client)
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Client)
            </div>
        </div>
        <div class="row"><div class="col"><hr /></div></div>
        <div class="row">
            <div class="col">
                <h4>@Strings["Totals"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="offset-8 col-2 label">
                @Html.DisplayNameFor(model => model.MealTotal)
            </div>
            <div class="col-2 d-flex justify-content-end">
                @Html.DisplayFor(model => model.MealTotal)
            </div>
            <div class="offset-8 col-2 label">
                @Html.DisplayNameFor(model => model.Total)
            </div>
            <div class="col-2 d-flex justify-content-end">
                @Html.DisplayFor(model => model.Total)
            </div>
        </div>
        <div class="row"><div class="col"><hr /></div></div>
    </section>
    <section class="items">
        <div class="row">
            <div class="col">
                <h4>@Strings["Expenses"]</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-1 label">@Strings["#"]</div>
            <div class="col-2 label">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().Date)</div>
            <div class="col-3 label">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().ExpenseType)</div>
            <div class="col-4 label">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().Description)</div>
            <div class="col-2 d-flex justify-content-end label">Value</div>
        </div>
        @foreach (var item in Model.Items)
        {
            <div class="row@(item.IsAboveMaximum ? " red" : "")">
                <div class="col-1">@Html.DisplayFor(model => item.Number)</div>
                <div class="col-2">@Html.DisplayFor(model => item.Date)</div>
                <div class="col-3">@Html.DisplayFor(model => item.ExpenseType)</div>
                <div class="col-4">@Html.DisplayFor(model => item.Description)</div>
                <div class="col-2 d-flex justify-content-end">@Html.DisplayFor(model => item.Value)</div>
            </div>
        }
    </section>
    <section>
        <div class="row"><div class="col"><hr /></div></div>
        <div class="row">
            <div class="offset-6 col-3 label d-flex justify-content-end">
                @Strings["Last Modification"]
            </div>
            <div class="col-3 d-flex justify-content-end">
                @Html.DisplayFor(model => model.ModifiedOn)
            </div>
        </div>
    </section>
</div>
<div class="printOnly">
    <div class="container">
        &copy; 2020 - XPenC
    </div>
</div>
<div class="doNotPrint">
    <a asp-action="Index">@Strings["Back to List"]</a>
</div>
