@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Strings

@model IEnumerable<XPenC.WebApp.Models.ExpenseReports.ExpenseReportListItem>

<h1>@Strings["Expense Reports"]</h1>

<p>
    <a asp-action="Create">@Strings["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">@Strings["Update"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Strings["Report"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Strings["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
