@inject IHtmlLocalizer<Strings> Strings

@model XPenC.WebApp.Models.ErrorData

<h1 class="text-danger">@Strings["Error."]</h1>
<h2 class="text-danger">@Strings["An error occurred while processing your request."]</h2>

<p>
    <strong>@Strings["Request ID"]:</strong> <code>@Model.RequestId</code>
</p>

@if (Model.ShowException)
{
<p>
    <strong>@Strings["Exception"]:</strong> <code style="color: red">@Model.Exception.GetType().Name</code>
</p>
<p>
    <strong>@Strings["Message"]:</strong> <code style="color: red">@Model.Exception.Message</code>
</p>
@if (Model.Exception.InnerException != null)
    {
<p>
    <strong>@Strings["Inner Exception"]:</strong> <code style="color: red">@Model.Exception.InnerException.GetType().Name</code>
</p>
<p>
    <strong>@Strings["Message"]:</strong> <code style="color: red">@Model.Exception.InnerException.Message</code>
</p>
    }
}
